#calculator {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
